.buttons-label-icon {
  height: 52px;
  width: 98px;
}

.buttons-label-icon .link {
  align-items: center;
  display: inline-flex;
  gap: 6px;
  justify-content: center;
  left: 18px;
  position: relative;
  top: 15px;
}

.buttons-label-icon .lable {
  color: var(--x-00000-0primary);
  font-family: var(--lable-14px-font-family);
  font-size: var(--lable-14px-font-size);
  font-style: var(--lable-14px-font-style);
  font-weight: var(--lable-14px-font-weight);
  letter-spacing: var(--lable-14px-letter-spacing);
  line-height: var(--lable-14px-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.buttons-label-icon .icon {
  color: var(--x-00000-0primary);
  font-family: var(--icons-18px-font-family);
  font-size: var(--icons-18px-font-size);
  font-style: var(--icons-18px-font-style);
  font-weight: var(--icons-18px-font-weight);
  letter-spacing: var(--icons-18px-letter-spacing);
  line-height: var(--icons-18px-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
